:root {
  --clr-shadow: #42424230;

  /**** ACCENT COLORS ****/
  --clr-accent-1: #63ab45;
  --clr-accent-2: #f7921e;

  /**** STATUS COLORS ****/
  --clr-error: hsl(0, 74%, 42%);
  --clr-success: hsl(142, 72%, 29%);
  --clr-info: #2463eb;
  --clr-warning: hsl(41, 96%, 40%);

  /**** BACKGROUND COLORS ****/

  // Primary Background
  --clr-bg-primary: hsl(0, 0%, 100%);
  --clr-txt-primary-on-bg-primary: hsl(0, 0%, 0%);
  --clr-txt-secondary-on-bg-primary: hsl(0, 0%, 16%);
  --clr-border-primary-on-bg-primary: hsl(0, 0%, 0%);
  --clr-border-secondary-on-bg-primary: hsl(0, 0%, 16%);

  // Secondary Background
  --clr-bg-secondary: hsl(0, 0%, 92%);
  --clr-txt-primary-on-bg-secondary: hsl(0, 0%, 0%);
  --clr-txt-secondary-on-bg-secondary: hsl(0, 0%, 16%);
  --clr-border-primary-on-bg-secondary: hsl(0, 0%, 0%);
  --clr-border-secondary-on-bg-secondary: hsl(0, 0%, 16%);

  // Accent-1 Background (Primary Action)
  --clr-bg-accent-1: var(--clr-accent-1);
  --clr-txt-primary-on-bg-accent-1: hsl(0, 0%, 98%);
  --clr-txt-secondary-on-bg-accent-1: hsl(0, 0%, 86%);
  --clr-border-primary-on-bg-accent-1: hsl(0, 0%, 86%);
  --clr-border-secondary-on-bg-accent-1: hsl(0, 0%, 72%);

  // Accent-2 Background (Secondary Action)
  --clr-bg-accent-2: var(--clr-accent-2);
  --clr-txt-primary-on-bg-accent-2: hsl(0, 0%, 96%);
  --clr-txt-secondary-on-bg-accent-2: hsl(0, 0%, 86%);
  --clr-border-primary-on-bg-accent-2: hsl(0, 0%, 90%);
  --clr-border-secondary-on-bg-accent-2: hsl(0, 0%, 80%);

  --clr-bg-error: hsla(0, 74%, 42%, 0.501);
  --clr-txt-primary-on-bg-error: hsl(0, 74%, 42%);
  --clr-border-primary-on-bg-error: hsl(0, 74%, 42%);

  --clr-bg-success: hsla(142, 72%, 29%, 0.5);
  --clr-txt-primary-on-bg-success: hsl(142, 72%, 29%);
  --clr-border-primary-on-bg-success: hsl(142, 72%, 29%);

  --clr-black-rgb: 0, 0, 0;
  --clr-accent-1-rgb: 99, 171, 69; // RGB for #009467
  --clr-accent-2-rgb: 247, 146, 30; // RGB for #2196f3 (example)

  // Add RGB for text color on accent background if not already present
  --clr-txt-primary-on-accent-1: #ffffff;
  --clr-txt-primary-on-accent-1-rgb: 255, 255, 255;
}

body {
  background-color: var(--clr-bg-primary);
  color: var(--clr-txt-primary-on-bg-primary);
}

p {
  margin-bottom: var(--spacing-md);
}
